body{
    background-color: #2f3c50;
    margin: 0;
}
*{
    color: #b6bdcc;
    font-family: Tahoma
}
.title{
    font-size: 36pt;
}
p{
    margin-left: 12px;
}
p, li, code{
    font-size: 13pt;
}
pre, code, html, span{
    margin: 0;
}
table, tr, th, td{
    border: 2px solid #000000;
    border-collapse: collapse;
}
td, th{
    padding: 5px;
}
table{
    margin-top: 2vh;
}
pre{
    font-family: Consolas, 'Courier New', monospace;
    color: white;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border: 2px solid black;
    border-radius: 2%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #212a37;
}
.blu{
    color: #3a8cd6;
}
.cyn{
    color: #9cdcfe;
}
.org{
    color: #ce916c;
}
.grn{
    color: #6a9955;
}
